


.Header{
    height: 80px;
    background-color: #1C2B35;
    display: flex;
    justify-content: space-between;
    padding: 0 80px;
    align-items: center;
}


.Header .Menu_Item a{
    
    margin-left: 30px;
    font-weight: 400;
    font-size: 17px;
    font-family: sans-serif;
    text-decoration: none;
    color: white;
    transition: .4s;
    padding: 10px;
    position: relative;
}
.Header .Menu_Item a:hover{
    color: goldenrod;
}

.Header .Menu_Item a:before{
    
    content: "";
    position: absolute;
    width:0;
    height: 2px;
    top: 0;
    right: 0;
    background-color: goldenrod;
    transition: .4s;
    
}

.Header .Menu_Item a::after{
    
    content: "";
    position: absolute;
    width:0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: goldenrod;
    transition: .4s;
    
}

.Header .Menu_Item a:hover:before{
    
    width: 100%;
    
}
.Header .Menu_Item a:hover:after{
    width: 100%;
}






